/* Content */
.content{
    background-color: #FFFFFF;
}

.grid{
    display: grid;
    grid-template-areas:
    "main aside"
    "main2 aside";
    justify-content: space-between;
    grid-gap: 50px;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    max-width: 950px;
    grid-area: main;
    padding: 2.5rem 0 7.5rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}

.main2
{
  max-width: 950px;
  width: 950px;
  grid-area: main2;
  padding: 2.5rem 0 7.5rem;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.article{
    padding: 1rem;
    max-width: 280px;
}

.image{
    overflow: hidden;
}

.article img{
    height: auto;
    width: 100%;
    max-width:100%;
    transition: transform .5s;
}

.article img:hover{
    transform: scale(1.1);
}

.article-meta{
    padding: .875rem 0 .5rem;
}

.article-meta a{
    font-size: .875rem;
    line-height: 1.25rem;
    margin-right: 3px;
    white-space: nowrap;
}

.is-small{
    color: #818d9a;
    font-size: .785rem;
    line-height: 1.25rem;
    margin-right: 3px;
}

.read-more{
    position: relative;
    margin-top: 5px;
    font-size: 1.125rem;
    line-height: 1.875rem;
    padding-right: .7em;
}

.read-more::after{
    content: "\003e";
    color: #1a81c5;
}

.read-more a:hover,
.article-meta a:hover{
    color: #76C7D7;
}

.main h4{
    font-size: 1.375rem;
    line-height: 1.75rem;
    font-weight: 500;
}

h4 a{
    color: #202e3c;
}

h4 a:hover{
    border-bottom: 2px solid black;
}

.aside{
    max-width: 250px;
    grid-area: aside;
    padding: 2.5rem 0 7.5rem;
}

.aside-content{
    margin: 1.2em 0;
    padding: 10px 20px;
    border: 1px solid  #818d9a;
    border-radius: 5px;
}

.author-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.author-info h3{
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    color: #ffce00;
}

.web{
    color: #ffce00;

}

.information{
    text-align: initial;
    font-size: 1rem;
    font-weight: 400;
}

.author-info img{
    height: 100px;
    border-radius: 50px;
    margin-bottom: 20px;

}

form{
    font-size: 1em;
    font-weight: 500;
}

form input{
    width: 100%;
    border: 1px solid black;
}

input[type="submit"]{
    width: 100%;
    border: none;
    margin-top: 20px;
    height: 30px;
    background: #1a81c5;
    color: white;
    padding: 0;
    transition: transform .2s;
}

input[type="submit"]:hover{
    transform: scale(1.1);
}

.search{
    padding: 0;
    height: 25px;
    overflow: hidden;
}

.clear-fix{
    clear: both;
}

.inputSearch {
    height: 100%;
    width: 223px;
    float: left;
    border: none;
    background-color:#F0F3F7
}

.button {
    background: url(../images/135-search.png);
    background-color: #F0F3F7;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 27px;
}

.comment{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #818d9a;
}

.comment img{
    height: 30px;
    border-radius: 50px;
}

.comment > div{
    margin: 5px 5px 5px 0;
}

.teg-block a{
    padding: 0 1px 0 0;
    transition: all .3s;
}

.teg-block a:hover{
    background-color: #FFFF00;
}

.text-comment{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.soc-info a{
    color: black;
}