/* Media */
@media only screen and (max-width: 1240px){
    .container{
        max-width: 1000px;
    }

    .main{
        padding: 2.5rem 0 0;
        max-width: 100%;
        margin-left: -1.2rem;
        margin-right: -1.2rem;
    }

    .article{
        padding: 0.7rem;
        max-width: 320px;
    }
}

@media only screen and (max-width: 1026px){
    .container{
        max-width: 900px;
    }

    .main{
        max-width: 100%;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .article{
        padding: 0.5rem;
        max-width: 280px;
    }
}

@media only screen and (max-width: 940px){
    .container{
        max-width: 800px;
    }

    .article{
        max-width: 470px;
    }

}

@media only screen and (max-width: 840px){
    .container{
        max-width: 700px;
    }

    .article{
        max-width: 370px;
    }
}

@media only screen and (max-width: 740px){
    .grid{
        grid-template-areas:
        "main"
        "aside";
    }

    .container{
        max-width: 600px;
    }

    .main{
        padding:2.2em;
        margin: 0 auto
    }

    .header .container{
        display: block;
        position: relative;
    }

    .soc-icons{
        display: block;
        margin: 16px 30px 0 0;
        top:0;
        right: 0;
        width: 25px;
    }

    .soc-icons-net{
        display: none;
    }

    .logo{
        max-width: 100px;
        margin: 0 auto;
    }

    .navigations{
        margin:0;
    }

    .navigations ul{
        display: block;
    }

    .article{
        max-width: 600px;
        padding: 0;
    }

    .aside{
        margin-left: 20px;
        padding: 0.5rem 0 7.5rem;
    }

    .nav-burger{
        display: block;
    }

    .nav{
        display:block;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        display: none;
    }

    .nav-item{
        max-width: 740px;
        display: block;
        padding: 10px 0;
        background-color:#818d9a ;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        text-decoration: none;
        transition: backgrouund-color .2s;
        padding-left: 20px;
    }

    .nav-item:hover{
        background-color: #2768c1;
    }

    .nav-item a{
        color: #FFFFFF;
    }

}

@media only screen and (max-width: 480px){
    .grid{
        grid-template-areas:
        "main"
        "aside";
    }

    .aside{
        margin:0 auto;
    }

}
